<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.software.mapper.UserFeeMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nju.software.entity.UserFee">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="FundGuid" jdbcType="VARCHAR" property="fundGuid" />
    <result column="FeeTypeId" jdbcType="INTEGER" property="feeTypeId" />
    <result column="Fund" jdbcType="DECIMAL" property="fund" />
    <result column="UserId" jdbcType="INTEGER" property="userId" />
    <result column="TradeCode" jdbcType="INTEGER" property="tradeCode" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, FundGuid, FeeTypeId, Fund, UserId, TradeCode, AddTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_fee_fund
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_fee_fund
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nju.software.entity.UserFee">
    insert into user_fee_fund (id, FundGuid, FeeTypeId, 
      Fund, UserId, TradeCode, 
      AddTime)
    values (#{id,jdbcType=INTEGER}, #{fundGuid,jdbcType=VARCHAR}, #{feeTypeId,jdbcType=INTEGER}, 
      #{fund,jdbcType=DECIMAL}, #{userId,jdbcType=INTEGER}, #{tradeCode,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nju.software.entity.UserFee">
    insert into user_fee_fund
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fundGuid != null">
        FundGuid,
      </if>
      <if test="feeTypeId != null">
        FeeTypeId,
      </if>
      <if test="fund != null">
        Fund,
      </if>
      <if test="userId != null">
        UserId,
      </if>
      <if test="tradeCode != null">
        TradeCode,
      </if>
      <if test="addTime != null">
        AddTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fundGuid != null">
        #{fundGuid,jdbcType=VARCHAR},
      </if>
      <if test="feeTypeId != null">
        #{feeTypeId,jdbcType=INTEGER},
      </if>
      <if test="fund != null">
        #{fund,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tradeCode != null">
        #{tradeCode,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nju.software.entity.UserFee">
    update user_fee_fund
    <set>
      <if test="fundGuid != null">
        FundGuid = #{fundGuid,jdbcType=VARCHAR},
      </if>
      <if test="feeTypeId != null">
        FeeTypeId = #{feeTypeId,jdbcType=INTEGER},
      </if>
      <if test="fund != null">
        Fund = #{fund,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        UserId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tradeCode != null">
        TradeCode = #{tradeCode,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        AddTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nju.software.entity.UserFee">
    update user_fee_fund
    set FundGuid = #{fundGuid,jdbcType=VARCHAR},
      FeeTypeId = #{feeTypeId,jdbcType=INTEGER},
      Fund = #{fund,jdbcType=DECIMAL},
      UserId = #{userId,jdbcType=INTEGER},
      TradeCode = #{tradeCode,jdbcType=INTEGER},
      AddTime = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>