<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:include="header::header"/>
    <title>深度学习测试平台</title>
</head>
<body class="hold-transition skin-black sidebar-mini">
<header class="main-header" th:include="header::main-header (${user})">

</header>
<div class="content-wrapper" style="min-height: 976px">
    <aside class="main-sidebar"
           th:include="aside::aside ('home', '', ${user})">

    </aside>
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
                <!--<div class="info-box">-->
                    <!--<span class="info-box-icon bg-aqua"><i class="ion ion-ios-paper-outline"></i></span>-->

                    <!--<div class="info-box-content">-->
                        <!--<span class="info-box-text">Exams</span>-->
                        <!--<span class="info-box-number">10</span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
                <!--<div class="info-box">-->
                    <!--<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>-->

                    <!--<div class="info-box-content">-->
                        <!--<span class="info-box-text">Members</span>-->
                        <!--<span class="info-box-number">200</span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
            <!--</div>-->
        </div>
    </section>
</div>
<div th:include="footer::script">

</div>
</body>
</html>