<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:include="header::header"/>
    <title>深度学习测试平台</title>
</head>
<body class="hold-transition skin-black sidebar-mini">
<header class="main-header" th:include="header::main-header (${user})">

</header>
<div class="content-wrapper" style="min-height: 976px">
    <aside class="main-sidebar" th:include="aside::aside ('home', '')">

    </aside>
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
    </section>
</div>
<div th:include="footer::script">

</div>
</body>
</html>