<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:include="header::header"/>
    <title>AI测试平台</title>
</head>
<body class="hold-transition login-page ">
<div class="login-box">
    <div class="login-logo" id="welcome">
        <a href="/" style="color: white">
            <b>AI</b>Platform
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg" style="color: #0f74a8">用户注册</p>

        <form id="registerform">
            <div class="form-group has-feedback">
                <input id="userid" name="username" type="text" class="form-control" placeholder="Username"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="mail" name="mail" type="email" class="form-control" placeholder="Mail"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="userpassword" name="password" type="password" class="form-control" placeholder="Password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Retype Password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button id="submit" type="button" class="btn btn-primary btn-block btn-flat">注册</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!--<div class="social-auth-links text-center">-->
            <!--<p>- OR -</p>-->
            <!--<a href="#" > <img src="/static/img/mooclogo.png" height="30" width="36" style="padding-left: 0"/></a>-->

        <!--</div>-->
        <!-- /.social-auth-links -->

        <!--<a href="./forget.html">忘记密码</a><br/>-->
        <a href="/login" class="text-center">已有账号</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<div th:include="footer::script">

</div>

<!-- register -->
<script src="/static/js/register.js"></script>

</body>
</html>